target
build
.gradle
gradlew
gradlew.bat
gradle/wrapper
.project
.classpath
.settings
bin/
.idea
*.iml
Thumbs.db
out/
*.chain
*.spvchain
*.wallet
obj/
libs/
checkpoints-testnet
checkpoints-testnet.txt
checkpoints
checkpoints.txt
local.properties
